.top-content {
    width: 100%;
    padding-top: 100px;
}

.carousel-control-next,
.carousel-control-prev {
    border: 0;
}

/* Common style */

.grid {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 1000px;
    list-style: none;
    text-align: center;
    figure {
        position: relative;
        float: left;
        overflow: hidden;
        margin: 10px 1%;
        //min-width: 320px;
        //max-width: 480px;
        //max-height: 360px;
        //width: 48%;
        background: #3085a3;
        text-align: center;
        cursor: pointer;
        img {
            position: relative;
            display: block;
            min-height: 100%;
            max-width: 100%;
            opacity: 0.8;
        }
        figcaption {
            // padding: 2em;
            color: #fff;
            // text-transform: uppercase;
            //font-size: 1.25em;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            //position: absolute;
            //top: 10%;
            //left: 0;
            //width: 100%;
            //height: 90%;
            &::before {
                pointer-events: none;
            }
            &::after {
                pointer-events: none;
            }
            > a {
                position: absolute;
                top: 10%;
                left: 0;
                width: 100%;
                height: 90%;
            }
        }
    }
}

/* Individual effects */
/*---------------*/
/***** Lily *****/
/*---------------*/

figure.effect-lily {
    img {
        max-width: none;
        width: -webkit-calc(100% + 50px);
        width: calc(100% + 50px);
        opacity: 0.7;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(-40px, 0, 0);
        transform: translate3d(-40px, 0, 0);
    }
    figcaption {
        text-align: left;
        > div {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 2em;
            width: 100%;
            height: 50%;
        }
    }
    h2 {
        -webkit-transform: translate3d(0, 40px, 0);
        transform: translate3d(0, 40px, 0);
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
    }
    p {
        -webkit-transform: translate3d(0, 40px, 0);
        transform: translate3d(0, 40px, 0);
        color: rgba(255, 255, 255, 0.8);
        opacity: 0;
        -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
        transition: opacity 0.2s, transform 0.35s;
    }
    &:hover {
        img {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
        p {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            -webkit-transition-delay: 0.05s;
            transition-delay: 0.05s;
            -webkit-transition-duration: 0.35s;
            transition-duration: 0.35s;
        }
        h2 {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
}

/*---------------*/
/***** Sadie *****/
/*---------------*/

figure.effect-sadie {
    figcaption {
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: -webkit-linear-gradient(top, rgba(72, 76, 97, 0) 0%, rgba(72, 76, 97, 0.8) 75%);
            background: linear-gradient(to bottom, rgba(72, 76, 97, 0) 0%, rgba(72, 76, 97, 0.8) 75%);
            content: "";
            opacity: 0;
            -webkit-transform: translate3d(0, 50%, 0);
            transform: translate3d(0, 50%, 0);
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
        }
    }
    h2 {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        color: #484c61;
        -webkit-transition: -webkit-transform 0.35s, color 0.35s;
        transition: transform 0.35s, color 0.35s;
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);
    }
    p {
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 2em;
        width: 100%;
        opacity: 0;
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
    &:hover {
        h2 {
            color: #fff;
            -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
            transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
        }
        figcaption {
            &::before {
                opacity: 1;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }
        }
        p {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
}

/*---------------*/
/***** Layla *****/
/*---------------*/
figure.effect-layla {
    background: #18a367;
    img {
        height: 390px;
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
    }
    figcaption {
        padding: 3em;
        position: absolute;
        top: 0%;
        left: 0;
        width: 100%;
        height: 100%;
        &::before {
            position: absolute;
            content: "";
            opacity: 0;
            top: 50px;
            right: 30px;
            bottom: 50px;
            left: 30px;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
            -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
            -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
        }
        &::after {
            position: absolute;
            content: "";
            opacity: 0;
            top: 30px;
            right: 50px;
            bottom: 30px;
            left: 50px;
            border-right: 1px solid #fff;
            border-left: 1px solid #fff;
            -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
            -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
        }
    }
    h2 {
        padding-top: 26%;
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }
    p {
        padding: 0.5em 2em;
        text-transform: none;
        opacity: 0;
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
    }
    &:hover {
        img {
            opacity: 0.7;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
        }
        figcaption {
            &::before {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }
            &::after {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transition-delay: 0.15s;
                transition-delay: 0.15s;
            }
        }
        h2 {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
        }
        p {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
        }
    }
}

/*---------------*/
/***** Oscar *****/
/*---------------*/
figure.effect-oscar {
    background: -webkit-linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
    background: linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
    img {
        opacity: 0.9;
        -webkit-transition: opacity 0.35s;
        transition: opacity 0.35s;
    }
    figcaption {
        padding: 3em;
        position: absolute;
        top: 0%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(58, 52, 42, 0.7);
        -webkit-transition: background-color 0.35s;
        transition: background-color 0.35s;
        &::before {
            position: absolute;
            top: 30px;
            right: 30px;
            bottom: 30px;
            left: 30px;
            border: 1px solid #fff;
            content: "";
            opacity: 0;
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -webkit-transform: scale(0);
            transform: scale(0);
        }
    }
    h2 {
        margin: 20% 0 10px 0;
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    p {
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    &:hover {
        h2 {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
        figcaption {
            &::before {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }
            background-color: rgba(58, 52, 42, 0);
        }
        p {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
        img {
            opacity: 0.4;
        }
    }
}
