.o_immediate_delivery {
    font-size: large;
    margin-top: 5px;
    margin-bottom: 5px;
}

.o_subsequent_delivery {
    font-size: large;
    margin-top: 5px;
    margin-bottom: 5px;
}

.o_stock_available {
    font-size: large;
    margin-top: 5px;
    margin-bottom: 5px;
}

.o_stock_unavailable {
    font-size: large;
    margin-top: 5px;
    margin-bottom: 5px;
}
