//.oe_product_cart .oe_product_image img {
//    max-height: initial;
//    position: initial;
//}
//
//.oe_product_cart .oe_product_image {
//    position: absolute;
//    left: 5px;
//    right: 5px;
//    top: 5px;
//    bottom: 5px;
//    text-align: center;
//}

//#o_wsale_product_grid_wrapper {
//    .oe_product_cart.oe_grid {
//        @media (min-width: 1200px) {
//            height: 160px;
//        }
//        @media (max-width: 400px) {
//            height: 200px;
//        }
//        @media (max-width: 767.98px) {
//            height: 200px;
//        }
//    }
//}

// #products_grid.col-lg-9 .oe-height-2 {
//     height: 100px;
// }

//.oe_product_cart .oe_product_image:hover {
//    transform: scale(1);
//}
//
//.o_wsale_product_information section {
//    background: rgba(255, 255, 255, 0.25);
//    height: 20px;
//    min-height: 20px;
//    transition: 0.5s ease;
//}
//
//.o_wsale_product_information section:hover {
//    background: rgba(255, 255, 255, 0.9);
//    height: auto;
//    min-height: 56px;
//}
//
//.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: #789928;
}
//
//a {
//    //color: #428bca;
//}
.oe_product_cart .o_wsale_product_information {
    height: 30px;
    min-height: 20px;
}
.oe_product_cart:hover .o_wsale_product_information {
    height: auto;
}
