.card {
    border-radius: 4px;
}
.select-button-person {
    margin-left: 0px;
    margin-right: 14px;
    font-size: 16px;
    border-radius: 6px;
    width: 300px;
}
.select-button-company {
    margin-left: 14px;
    margin-right: 0px;
    font-size: 16px;
    border-radius: 6px;
    width: 300px;
}
