
@font-face {
  font-family: 'Roboto';
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-Thin-webfont.eot');
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'), url('/deltatech/static/src/fonts/Roboto/Roboto-Thin-webfont.woff') format('woff'), url('/deltatech/static/src/fonts/Roboto/Roboto-Thin-webfont.ttf') format('truetype'), url('/deltatech/static/src/fonts/Roboto/Roboto-Thin-webfont.svg#Roboto') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Thin';
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-Thin-webfont.eot');
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'), url('/deltatech/static/src/fonts/Roboto/Roboto-Thin-webfont.woff') format('woff'), url('/deltatech/static/src/fonts/Roboto/Roboto-Thin-webfont.ttf') format('truetype'), url('/deltatech/static/src/fonts/Roboto/Roboto-Thin-webfont.svg#Roboto') format('svg');
}
@font-face {
  font-family: 'Roboto';
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-ThinItalic-webfont.eot');
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'), url('/deltatech/static/src/fonts/Roboto/Roboto-ThinItalic-webfont.woff') format('woff'), url('/deltatech/static/src/fonts/Roboto/Roboto-ThinItalic-webfont.ttf') format('truetype'), url('/deltatech/static/src/fonts/Roboto/Roboto-ThinItalic-webfont.svg#Roboto') format('svg');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto-ThinItalic';
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-ThinItalic-webfont.eot');
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'), url('/deltatech/static/src/fonts/Roboto/Roboto-ThinItalic-webfont.woff') format('woff'), url('/deltatech/static/src/fonts/Roboto/Roboto-ThinItalic-webfont.ttf') format('truetype'), url('/deltatech/static/src/fonts/Roboto/Roboto-ThinItalic-webfont.svg#Roboto') format('svg');
}
@font-face {
  font-family: 'Roboto';
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-Light-webfont.eot');
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'), url('/deltatech/static/src/fonts/Roboto/Roboto-Light-webfont.woff') format('woff'), url('/deltatech/static/src/fonts/Roboto/Roboto-Light-webfont.ttf') format('truetype'), url('/deltatech/static/src/fonts/Roboto/Roboto-Light-webfont.svg#Roboto') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Light';
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-Light-webfont.eot');
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'), url('/deltatech/static/src/fonts/Roboto/Roboto-Light-webfont.woff') format('woff'), url('/deltatech/static/src/fonts/Roboto/Roboto-Light-webfont.ttf') format('truetype'), url('/deltatech/static/src/fonts/Roboto/Roboto-Light-webfont.svg#Roboto') format('svg');
}
@font-face {
  font-family: 'Roboto';
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-LightItalic-webfont.eot');
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'), url('/deltatech/static/src/fonts/Roboto/Roboto-LightItalic-webfont.woff') format('woff'), url('/deltatech/static/src/fonts/Roboto/Roboto-LightItalic-webfont.ttf') format('truetype'), url('/deltatech/static/src/fonts/Roboto/Roboto-LightItalic-webfont.svg#Roboto') format('svg');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto-LightItalic';
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-LightItalic-webfont.eot');
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'), url('/deltatech/static/src/fonts/Roboto/Roboto-LightItalic-webfont.woff') format('woff'), url('/deltatech/static/src/fonts/Roboto/Roboto-LightItalic-webfont.ttf') format('truetype'), url('/deltatech/static/src/fonts/Roboto/Roboto-LightItalic-webfont.svg#Roboto') format('svg');
}
@font-face {
  font-family: 'Roboto';
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-Regular-webfont.eot');
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('/deltatech/static/src/fonts/Roboto/Roboto-Regular-webfont.woff') format('woff'), url('/deltatech/static/src/fonts/Roboto/Roboto-Regular-webfont.ttf') format('truetype'), url('/deltatech/static/src/fonts/Roboto/Roboto-Regular-webfont.svg#Roboto') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-Regular-webfont.eot');
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('/deltatech/static/src/fonts/Roboto/Roboto-Regular-webfont.woff') format('woff'), url('/deltatech/static/src/fonts/Roboto/Roboto-Regular-webfont.ttf') format('truetype'), url('/deltatech/static/src/fonts/Roboto/Roboto-Regular-webfont.svg#Roboto') format('svg');
}
@font-face {
  font-family: 'Roboto';
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-RegularItalic-webfont.eot');
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-RegularItalic-webfont.eot?#iefix') format('embedded-opentype'), url('/deltatech/static/src/fonts/Roboto/Roboto-RegularItalic-webfont.woff') format('woff'), url('/deltatech/static/src/fonts/Roboto/Roboto-RegularItalic-webfont.ttf') format('truetype'), url('/deltatech/static/src/fonts/Roboto/Roboto-RegularItalic-webfont.svg#Roboto') format('svg');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto-RegularItalic';
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-RegularItalic-webfont.eot');
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-RegularItalic-webfont.eot?#iefix') format('embedded-opentype'), url('/deltatech/static/src/fonts/Roboto/Roboto-RegularItalic-webfont.woff') format('woff'), url('/deltatech/static/src/fonts/Roboto/Roboto-RegularItalic-webfont.ttf') format('truetype'), url('/deltatech/static/src/fonts/Roboto/Roboto-RegularItalic-webfont.svg#Roboto') format('svg');
}
@font-face {
  font-family: 'Roboto';
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-Medium-webfont.eot');
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'), url('/deltatech/static/src/fonts/Roboto/Roboto-Medium-webfont.woff') format('woff'), url('/deltatech/static/src/fonts/Roboto/Roboto-Medium-webfont.ttf') format('truetype'), url('/deltatech/static/src/fonts/Roboto/Roboto-Medium-webfont.svg#Roboto') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-Medium-webfont.eot');
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'), url('/deltatech/static/src/fonts/Roboto/Roboto-Medium-webfont.woff') format('woff'), url('/deltatech/static/src/fonts/Roboto/Roboto-Medium-webfont.ttf') format('truetype'), url('/deltatech/static/src/fonts/Roboto/Roboto-Medium-webfont.svg#Roboto') format('svg');
}
@font-face {
  font-family: 'Roboto';
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-MediumItalic-webfont.eot');
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'), url('/deltatech/static/src/fonts/Roboto/Roboto-MediumItalic-webfont.woff') format('woff'), url('/deltatech/static/src/fonts/Roboto/Roboto-MediumItalic-webfont.ttf') format('truetype'), url('/deltatech/static/src/fonts/Roboto/Roboto-MediumItalic-webfont.svg#Roboto') format('svg');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto-MediumItalic';
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-MediumItalic-webfont.eot');
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'), url('/deltatech/static/src/fonts/Roboto/Roboto-MediumItalic-webfont.woff') format('woff'), url('/deltatech/static/src/fonts/Roboto/Roboto-MediumItalic-webfont.ttf') format('truetype'), url('/deltatech/static/src/fonts/Roboto/Roboto-MediumItalic-webfont.svg#Roboto') format('svg');
}
@font-face {
  font-family: 'Roboto';
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-Bold-webfont.eot');
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('/deltatech/static/src/fonts/Roboto/Roboto-Bold-webfont.woff') format('woff'), url('/deltatech/static/src/fonts/Roboto/Roboto-Bold-webfont.ttf') format('truetype'), url('/deltatech/static/src/fonts/Roboto/Roboto-Bold-webfont.svg#Roboto') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-Bold-webfont.eot');
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('/deltatech/static/src/fonts/Roboto/Roboto-Bold-webfont.woff') format('woff'), url('/deltatech/static/src/fonts/Roboto/Roboto-Bold-webfont.ttf') format('truetype'), url('/deltatech/static/src/fonts/Roboto/Roboto-Bold-webfont.svg#Roboto') format('svg');
}
@font-face {
  font-family: 'Roboto';
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-BoldItalic-webfont.eot');
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('/deltatech/static/src/fonts/Roboto/Roboto-BoldItalic-webfont.woff') format('woff'), url('/deltatech/static/src/fonts/Roboto/Roboto-BoldItalic-webfont.ttf') format('truetype'), url('/deltatech/static/src/fonts/Roboto/Roboto-BoldItalic-webfont.svg#Roboto') format('svg');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto-BoldItalic';
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-BoldItalic-webfont.eot');
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('/deltatech/static/src/fonts/Roboto/Roboto-BoldItalic-webfont.woff') format('woff'), url('/deltatech/static/src/fonts/Roboto/Roboto-BoldItalic-webfont.ttf') format('truetype'), url('/deltatech/static/src/fonts/Roboto/Roboto-BoldItalic-webfont.svg#Roboto') format('svg');
}
@font-face {
  font-family: 'Roboto';
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-Black-webfont.eot');
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'), url('/deltatech/static/src/fonts/Roboto/Roboto-Black-webfont.woff') format('woff'), url('/deltatech/static/src/fonts/Roboto/Roboto-Black-webfont.ttf') format('truetype'), url('/deltatech/static/src/fonts/Roboto/Roboto-Black-webfont.svg#Roboto') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Black';
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-Black-webfont.eot');
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'), url('/deltatech/static/src/fonts/Roboto/Roboto-Black-webfont.woff') format('woff'), url('/deltatech/static/src/fonts/Roboto/Roboto-Black-webfont.ttf') format('truetype'), url('/deltatech/static/src/fonts/Roboto/Roboto-Black-webfont.svg#Roboto') format('svg');
}
@font-face {
  font-family: 'Roboto';
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-BlackItalic-webfont.eot');
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-BlackItalic-webfont.eot?#iefix') format('embedded-opentype'), url('/deltatech/static/src/fonts/Roboto/Roboto-BlackItalic-webfont.woff') format('woff'), url('/deltatech/static/src/fonts/Roboto/Roboto-BlackItalic-webfont.ttf') format('truetype'), url('/deltatech/static/src/fonts/Roboto/Roboto-BlackItalic-webfont.svg#Roboto') format('svg');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto-BlackItalic';
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-BlackItalic-webfont.eot');
  src: url('/deltatech/static/src/fonts/Roboto/Roboto-BlackItalic-webfont.eot?#iefix') format('embedded-opentype'), url('/deltatech/static/src/fonts/Roboto/Roboto-BlackItalic-webfont.woff') format('woff'), url('/deltatech/static/src/fonts/Roboto/Roboto-BlackItalic-webfont.ttf') format('truetype'), url('/deltatech/static/src/fonts/Roboto/Roboto-BlackItalic-webfont.svg#Roboto') format('svg');
}