
div.o_checkbox {
  display: inline-block;
  position: relative;
  vertical-align: sub;
}
div.o_checkbox > input {
  width: 15px;
  height: 15px;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  cursor: pointer;
}
div.o_checkbox > input + span {
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid #8f8f8f;
  background-color: white;
}
div.o_checkbox > input:checked + span {
  background-repeat: no-repeat;
  background-image: url(/web_enterprise/static/src/img/checked.svg);
  background-position: center center;
}
div.o_checkbox > input:disabled + span {
  opacity: 0.7;
  border: 1px solid #e2e2e0;
}
div.o_checkbox > input:focus + span {
  outline: 1px solid #21b799;
}
input[type="text"],
input[type="password"],
input[type="number"],
textarea,
select {
  border: 1px solid #cfcfcf;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  width: 100%;
  outline: none;
  display: block;
}
select {
  cursor: pointer;
  background-color: transparent;
  min-width: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("/deltatech/static/src/img/down-arrow.png");
  background-repeat: no-repeat;
  background-position: right center;
  color: transparent;
  text-shadow: 0 0 0 #666666;
}
select > option {
  color: #666666;
}
::-webkit-input-placeholder {
  color: #8f8f8f;
  opacity: 0.5;
}
::-moz-placeholder {
  color: #8f8f8f;
  opacity: 0.5;
}
:-ms-input-placeholder {
  color: #8f8f8f;
  opacity: 0.5;
}
.o_loading {
  background-color: #875A7B;
  color: white;
  padding: 4px;
}
.oe_clear {
  clear: both;
}