<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <!-- menuitem -->
    <menuitem
        name="Business process"
        id="menu_business_process_app"
        web_icon="deltatech_business_process,static/description/icon.png"
        sequence="25"
    />
    <menuitem name="Overview" id="menu_overview" parent="menu_business_process_app" sequence="100" />
    <menuitem
        name="Business process"
        id="menu_business_process_main"
        parent="menu_business_process_app"
        sequence="200"
    />

    <menuitem name="Reports" id="menu_report" parent="menu_business_process_app" sequence="300" />
    <menuitem name="Configuration" id="menu_config" parent="menu_business_process_app" sequence="900" />
</odoo>
